<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="codeGeneratorTypesSection" type="RDPGeneratorConsole.codeGeneratorTypesSection, RDPGeneratorConsole" />
  </configSections>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <codeGeneratorTypesSection>
    <codeGeneratorTypes>
      <!-- name="element-name" type="namespace.class-name, assembly-name" -->
      <codeGeneratorType name="C++" classname="CPPCodeGenerator" type="CPPCodeGenerator.CPPCodeGenerator, CPPCodeGenerator" />
      <codeGeneratorType name="Java" classname="JavaCodeGenerator" type="JavaCodeGenerator.JavaCodeGenerator, JavaCodeGenerator" />
      <codeGeneratorType name="C#" classname="CSharpCodeGenerator" type="CSharpCodeGenerator.CSharpCodeGenerator, CSharpCodeGenerator" />
    </codeGeneratorTypes>
  </codeGeneratorTypesSection>
    
</configuration>